 .login {
    /* fallback for old browsers */
    background: #28a745; /* Fallback for browsers that do not support gradients */
    background: -webkit-linear-gradient(to right, rgba(40, 167, 69, 1), rgba(9, 148, 81, 1)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(40, 167, 69, 1), rgba(9, 148, 81, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }